*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #1982ea;
}

body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);

}

 nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 28px 12%;
    transition: all .50s ease;
 }

 .logo {
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0 80px 0 0;
    display: flex;
    align-items: center;
}

.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
    margin: 0px 30px;
    text-transform: capitalize;
    transition: all .50s ease;
}
.navbar a:hover {
    color: #7cd3fa;
    transition: .4s;
}
.maine{
    display: flex;
    align-items: center;
}
.maine a{
    margin-right: 25px;
    margin-left: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all .50s ease;
}
.btn {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    border: 2px solid transparent;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    transition: transform .4s;
}
@media (max-width: 600px){
    .logo{
        font-size: 1.5rem;
    }
    .maine a{
        margin-left: 0.5rem;
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    .btn{
        padding: 0.2rem 0.7rem;
        border-radius: 0.8rem;
    }
}
.btn:hover {
    transform: scale(1.1)
}

#menu-icon{
    font-size: 35px;
    color:var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media (max-width: 1280px){
    .logo{
        width: 50vw;
    }
    nav{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
        
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 32vh;
        background: #101010;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        transform: translate(5px);
    }
    .navbar.open{
        right: 2%;
    }
    .about-text{
        width: 50%;
        max-width: 65em;
        margin: 0 auto;
    }
    .about-img img{
        height: auto;
        width: px;
        border-radius: 20px;
    }
    .about-text{
        width: 550px;
        padding: 3em;
        align-items: center;
        justify-content: center;
    }

}



/*the hero page*/

.hero {
    background-image: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.hero .content .button a:hover{
        background-color: red;
        border: 2px solid var(--main-color);
        cursor: pointer;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.content:hover{
    cursor: pointer;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3#text{
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}
@media (max-width: 680px){
    h3#text{
        font-size: 30px;
    }
}
h4{
    color: #7cd3fa;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #101010;
}
.about-img img{
    width: 50vw;
}
.about img{
    height: auto;
    width: 350px;
    border-radius: 20px;
}
.about-text .about-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.about-text{
    width: 550px;
    padding: 3em;
}

@media (max-width: 1090px){
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}
.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: clamp(2.5rem, calc(5vw+1rem), 4rem);
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #7cd3fa;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.technology{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}
.title > * + * {
    margin-top: var(--spacer, 2rem);
  }

.title h2{
    color: white;
    font-size: clamp(2.5rem, calc(5vw+1rem), 4rem);
    width: 80vw;
    margin: 30px auto;
    text-align: center;
    font-size: 40px;
}

@media (max-width: 680px){
    .title h2 {
        font-size: 30px;
    }
    .card .pra h3{
        font-size: 25px;
    }
}

.box{
 /*    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3em;
}
@media (max-width: 600px){
    .box{
        padding: 2em;
    }
}
.card{
    height: auto;
    width: 400px;
    background: #191919;
    border-radius: 0px 0px 20px 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card i{
    font-size: 50px;
    display: block;
    /* text-align: center; */
    margin: 25px 0px;
    color: var(--main-color);
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra{
    padding: 20px 35px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.pra h3{
    font-size: 23px;
}
.pra p{
    color: #7cd3fa;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.pra .stack{
    color: #fff;
}

.card .button{
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid var(--main-color);
    cursor: pointer;
}
.contact-me {
    width: 100%;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    gap: 10px;
}
.contact-me h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .accomplishments{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.contact-me .accomplishments .accCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #1982ea;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}
@media (max-width: 600px){
    .contact-me{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact-me .accomplishments{
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    .contact-me .accomplishments .accCard{
        justify-content: center;
        align-items: center;
    }
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;   
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
    width: 85%;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: var(--main-color);
    bottom: 35px;
    font-size: 14px;
    padding: 3em;
}
